.cart {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 0.3%;
  right: 1.5%;
}


.search {
  position: absolute;
  top: 1vw;
  right: 5.5%;
}

.collectheart {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 0.3%;
  right: 5.5%;
}

.logo {
  position: absolute;
  top: 5%;
  left: 13%;
  width: 12vw;
  height: 10vh;
}


.product {
  position: absolute;
  width: 10vw;
  left: 30vw;
  top: 50%;
  font-size: 25px;
  font-weight: bold;

}


.memberbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 25px;
  border: none;
  font-weight: bold;
}

.member {
  position: absolute;
  display: inline-block;
  width: 10vw;
  left: 43%;
  top: 35%;
}

.member-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 5.9vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.member-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;

}

.member-content a:hover {
  background-color: #ddd;
}

.member:hover .member-content {
  display: block;
}

.member:hover .memberbtn {
  background-color: white;
}

.aboutus {
  position: absolute;
  width: 10vw;
  left: 58%;
  top: 50%;
  font-size: 25px;
  font-weight: bold;

}

.register {
  position: absolute;
  width: 10vw;
  left: 70%;
  top: 50%;
  font-size: 25px;
  font-weight: bold;
}

/*.logreg {
  background-color: #d40909;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 25px;
  border: none;
  font-weight: bold;
}*/


a {
  color: black;
  text-decoration: none;
}


/*懸停*/




.slideshowContainer {
  position: absolute;
  top: 20%;
  overflow: hidden;
  margin: 50px 0 75px;
  left: 10%;
  width: 80%;
  height: 70vh;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

/* add 'visible' class via Javascript */
.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 5em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}


body {
  padding: 0px;
  margin: 0px;
}

.container {
  height: 100%;
}

.fsh {
  position: absolute;
  width: 100%;
}

.firstheader {
  height: 8%;
  width: 100%;
  position: fixed;
  background: white;
  padding: 15px;
  color: #fff;
  z-index: 5;
}

/*
.secondheader {
  border-top: 1px solid #bbb;
  padding: 5px 0px 5px 0px;
  margin-top: 300px;
  width: 100%;
  background: #B14345;
  color: #fff;
}

*/
.hotsale {
  border: solid 1px rgba(128, 128, 128, 0.507);
  width: 80%;
  height: 70%;
  position: absolute;
  left: 10%;
  top: 100%;
}

.hotsaletitle {
  width: 100%;
  height: 11%;
  background-color: white;
  position: relative;
  top: 5%;
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-align: center;

}

.hotproduct1 {
  width: 25%;
  height: 67%;
  position: relative;
  top: 10%;
  left: 6.5%;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: left;

}


.hotproduct2 {
  width: 25%;
  height: 67%;
  position: relative;
  left: 37.5%;
  top: -57.5%;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.hotproduct3 {
  width: 25%;
  height: 67%;
  position: relative;
  top: -124.8%;
  left: 68%;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: left;
}

footer {
  height: 100px;
  margin-top: -30px;
  background: #0c4367;
  color: #FFF;
  font-size: 18px;
  text-align: center;

}








/* {
  box-sizing: border-box;
}*/

/*.Slide {
      display: none;
    }*/

img {
  vertical-align: middle;
  width: 100%;
  height: 500px;

}

.slideContainer {
  max-width: 25%;
  max-height: 30%;
  position: absolute;
  left: 20%;
  top: 25%;
}

.prevBtn,
.nextBtn {
  cursor: pointer;
  position: absolute;
  top: 85%;
  width: 5%;
  padding: 10px;
  background-color: rgba(212, 212, 209, 0.555);
  color: rgb(65, 63, 66);
  font-weight: bolder;
  font-size: 18px;

}

.nextBtn {
  right: 0;
}

/*.Caption {
      color: #fbff09;
      font-weight: bold;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 25px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }*/

.thumbnail:after {
  content: "";
  display: table;
  clear: both;
}

.thumbnail {
  margin-left: 32%;
}

.imageCol1 {
  float: left;
  width: 7%;
  position: absolute;
  top: 25%;
  left: 13%;
}

.imageCol2 {
  float: left;
  width: 7%;
  position: absolute;
  top: 38%;
  left: 13%;
}

.imageCol3 {
  float: left;
  width: 7%;
  position: absolute;
  top: 51%;
  left: 13%;
}

.imageCol4 {
  float: left;
  width: 7%;
  position: absolute;
  top: 64%;
  left: 13%;
}

.thumbImage {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 450px) {

  .prevBtn,
  .nextBtn,
  .Caption {
    font-size: 16px;
  }
}

.productintro {
  width: 30%;
  height: 50%;
  font-size: 30px;
  position: absolute;
  top: 20%;
  right: 17%;
}

.line-top1 {
  position: relative;
  top: -4%;
  width: 100%;
  border-top: solid #131212b4 3px;
}

.deliver {
  font-size: 23px;
  display: inline;
  color: #ff5507;
  font-weight: bolder;
  border: 1px #ff5507 solid;
  padding: 3px 8px 3px 8px;
  position: absolute;
  top: 82%;
  left: 0%;
}

.delivermjosa {
  font-size: 23px;
  display: inline;
  color: #ff5507;
  font-weight: bolder;
  border: 1px #ff5507 solid;
  padding: 3px 8px 3px 8px;
  position: absolute;
  top: 103%;
  left: 0%;
}

.fnisscolor1 {
  position: absolute;
  width: 13%;
  height: 15%;
  top: 81%;
  border: 1px solid rgba(68, 67, 67, 0.507);
}

.fnisscolor1:hover {

  border: 3px solid rgba(233, 54, 54, 0.507);
}

.fnisscolor2 {
  position: absolute;
  width: 13%;
  height: 15%;
  top: 81%;
  left: 16%;
  border: 1px solid rgba(68, 67, 67, 0.507);
}

.fnisscolor2:hover {

  border: 3px solid rgba(233, 54, 54, 0.507);
}


.mjosa1 {
  position: absolute;
  width: 13%;
  height: 15%;
  top: 80%;
  border: 1px solid rgba(68, 67, 67, 0.507);
}

.mjosa1:hover {

  border: 3px solid rgba(233, 54, 54, 0.507);
}


.mjosa2 {
  position: absolute;
  width: 13%;
  height: 15%;
  top: 80%;
  left: 16%;
  border: 1px solid rgba(68, 67, 67, 0.507);
}

.mjosa2:hover {

  border: 3px solid rgba(233, 54, 54, 0.507);
}


.quantity {
  position: absolute;
  top: 95%;
  width: 100%;
}

.quantityfniss {
  position: absolute;
  top: 100%;
  width: 100%;
}

.quantitymjosa {
  position: absolute;
  top: 120%;
  width: 100%;
}


form {
  width: 30%;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 15%;

}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  width: 30%;
  height: 30%;
  text-align: center;
  vertical-align: middle;
  padding: 8px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -6px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -6px;
  border-radius: 0 8px 8px 0;
}

/* form #input-wrap {
  margin: 0px;
  padding: 0px;
} */

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 52px;
  height: 52px;
  font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.inventory {
  position: absolute;
  top: 5%;
  left: 53%;
}

.heart {
  position: absolute;
  top: 190%;
}


[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}

[id='toggle-heart']:checked+label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

[id='toggle-heart']:checked+label:before,
[id='toggle-heart']:checked+label:after {
  animation: inherit;
  animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1);
}

[id='toggle-heart']:checked+label:before {
  will-change: transform, border-width, border-color;
  animation-name: bubble;
}

[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: #aab8c2;
  font-size: 40px;
  cursor: pointer;
}

[for='toggle-heart']:before,
[for='toggle-heart']:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
}

[for='toggle-heart']:before {
  box-sizing: border-box;
  margin: -2.25rem;
  border: solid 2.25rem #e2264d;
  width: 4.5rem;
  height: 4.5rem;
  transform: scale(0);
}

@keyframes heart {

  0%,
  17.5% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #f8aaaa;
    border-width: 2.25rem;
  }

  30%,
  100% {
    transform: scale(1);
    border-color: #f8aaaa;
    border-width: 0;
  }
}



.addbutton {
  border: 0;
  background-color: #e28e79a2;
  color: rgb(15, 15, 15);
  border-radius: 10px;
  cursor: pointer;
  padding: 3px 20px 3px 20px;
  position: absolute;
  left: 15%;
  top: 210%;
}


.addbutton:hover {
  color: rgb(15, 15, 15);
  background-color: #e4603f;

}


.directbuy {
  border: 0;
  background-color: #e28e79a2;
  color: rgb(15, 15, 15);
  border-radius: 10px;
  cursor: pointer;
  padding: 3px 35px 3px 35px;
  position: absolute;
  left: 50%;
  top: 210%;
}


.directbuy:hover {
  color: rgb(15, 15, 15);
  background-color: #e4603f;

}


.allproducts {
  width: 80%;
  height: 200%;
  position: absolute;
  left: 10%;

  top: 16%;
}

.allproductstitle {
  font-size: 60px;
  font-weight: bold;
  font-family: 微軟正黑體;
  text-align: center;
}

.product1 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 7%;
  left: 10%;
  font-weight: bold;
  font-size: 30px;

}

.product2 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 7%;
  left: 40%;
  font-weight: bold;
  font-size: 30px;
}

.product3 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 7%;
  left: 70%;
  font-weight: bold;
  font-size: 30px;
}

.product4 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 32%;
  left: 10%;
  font-weight: bold;
  font-size: 30px;
}

.product5 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 32%;
  left: 40%;
  font-weight: bold;
  font-size: 30px;
}

.product6 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 32%;
  left: 70%;
  font-weight: bold;
  font-size: 30px;
}

.product7 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 57%;
  left: 10%;
  font-weight: bold;
  font-size: 30px;
}

.product8 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 57%;
  left: 40%;
  font-weight: bold;
  font-size: 30px;
}

.product9 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 57%;
  left: 70%;
  font-weight: bold;
  font-size: 30px;
}

.product10 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 82%;
  left: 10%;
  font-weight: bold;
  font-size: 30px;
}

.product11 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 82%;
  left: 40%;
  font-weight: bold;
  font-size: 30px;
}

.product12 {
  position: absolute;
  width: 20%;
  height: 23%;
  top: 82%;
  left: 70%;
  font-weight: bold;
  font-size: 30px;
}

.productword {
  position: absolute;
  top: 72%;

  width: 100%;
}

.pic {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pic img {
  transform: scale(1, 1);
  transition: all 1s ease-out;
}

.pic img:hover {
  transform: scale(1.1, 1.1);
}

.hotproductword {
  position: absolute;
  top: 80%;
  z-index: 5;
}

.container1 {}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;

}

.container1:hover .overlay {
  opacity: 1;
}



/*.productcompare {
  position: absolute;
  top: 70%;
  z-index: 100;
  left: 70%;
  background-color: white;
  border: 1px solid blue;
  font-size: 30px;
}*/



/*比較checkbox*/
.container2 {
  width: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  position: absolute;
  top: 40%;
  left: 48%;
}

ul.ks1-cboxtags {
  list-style: none;

}

ul.ks1-cboxtags li {
  display: inline;
}

ul.ks1-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid #f09159;
  color: #f09159;
  border-radius: 25px;
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
  font-size: 20px;
}

ul.ks1-cboxtags li label {
  padding: 5px 20px;
  cursor: pointer;
}

ul.ks1-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 25px;
  padding: 2px 5px 2px 5px;
  content: "\271A ";
  transition: transform .3s ease-in-out;
}

ul.ks1-cboxtags li input[type="checkbox"]:checked+label::before {
  content: "\2714";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.ks1-cboxtags li input[type="checkbox"]:checked+label {
  border: 2px solid rgb(255, 136, 0);
  background-color: rgb(255, 136, 0);
  color: #fff;
  transition: all .2s;
}

ul.ks1-cboxtags li input[type="checkbox"] {
  display: absolute;
}

ul.ks1-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.ks1-cboxtags li input[type="checkbox"]:focus+label {
  border: 2px solid #f09159;
}








ul.ks2-cboxtags {
  list-style: none;

}

ul.ks2-cboxtags li {
  display: inline;
}

ul.ks2-cboxtags li label {
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid #f09159;
  color: #f09159;
  border-radius: 25px;
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
  font-size: 20px;
}

ul.ks2-cboxtags li label {
  padding: 5px 20px;
  cursor: pointer;
}

ul.ks2-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 25px;
  padding: 2px 5px 2px 5px;
  content: "\271A ";
  transition: transform .3s ease-in-out;
}

ul.ks2-cboxtags li input[type="checkbox"]:checked+label::before {
  content: "\2714";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.ks2-cboxtags li input[type="checkbox"]:checked+label {
  border: 2px solid #f71212;
  background-color: rgb(255, 136, 0);
  color: #fff;
  transition: all .2s;
}

ul.ks2-cboxtags li input[type="checkbox"] {
  display: absolute;
}

ul.ks2-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.ks2-cboxtags li input[type="checkbox"]:focus+label {
  border: 2px solid #f09159;
}


/*分類*/
.sort {
  position: absolute;
  top: 15%;
  left: 1%;
}

.sidenav {
  height: 20%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 16px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15%;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 20%) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}




/*寫評論*/
.writecomment {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;

  top: 93%;
}

.fraction {
  font-size: 35px;
  position: absolute;
  left: 15%;
  top: 13%;
  background-color: #727477ab;
  text-align: center;
  width: 70%;
  height: 35%;
}

.username {
  position: absolute;
  top: 20%;
  left: 35%;
}

.commentword {
  position: absolute;
  top: 38%;
  left: 23%;
}

.submitcomment {
  border: 0;
  background-color: #9e9998a2;
  color: rgb(15, 15, 15);
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 30px 8px 30px;
  position: absolute;
  right: 15%;
  top: 49%;
}


.submitcomment:hover {
  color: rgb(253, 249, 249);
  background-color: #4b4949;

}



.like {
  position: absolute;
  left: 0%;
  top: 100%;
  width: 18.7%;
  height: 40%;
  background: url("image/112233-removebg-preview.png") repeat-x;
  background-size: 40px 40px;
  overflow: hidden;
  margin-top: 10px;
}

.star,
.score {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
}

.star {
  z-index: 2;
}

.score {
  opacity: 0;
}

.star_1,
.score_1 {
  left: 0;
}

.star_2,
.score_2 {
  left: 40px;
}

.star_3,
.score_3 {
  left: 80px;
}

.star_4,
.score_4 {
  left: 120px;
}

.star_5,
.score_5 {
  left: 160px;
}

.star:hover {
  cursor: pointer;
  background: url("image/11223344color.png") repeat-x;
  background-size: 40px 40px;
  left: 0;
  z-index: 1;
}

.star_1:hover {
  width: 40px;
}

.star_2:hover {
  width: 80px;
}

.star_3:hover {
  width: 120px;
}

.star_4:hover {
  width: 160px;
}

.star_5:hover {
  width: 200px;
}

.score:checked+.star {
  background: url("image/11223344color.png") repeat-x;
  background-size: 40px 40px;
  left: 0;

}

.score_1:checked+.star_1 {
  position: absolute;
  top: 1px;
  width: 40px;
}

.score_2:checked+.star_2 {
  width: 80px;
}

.score_3:checked+.star_3 {
  width: 120px;
}

.score_4:checked+.star_4 {
  width: 160px;
}

.score_5:checked+.star_5 {
  width: 200px;
}



.linecomment1 {
  position: absolute;
  top: 57%;
  width: 80%;
  left: 10%;
  border-top: solid #424040b4 1px;
}


.comment1 {
  width: 70%;
  height: 15%;
  /*border: #111 1px solid;*/
  position: absolute;
  left: 15%;
  top: 60%;
  font-size: 25px;
}

.linecomment2 {
  position: absolute;
  top: 76.5%;
  width: 70%;
  left: 15%;
  border-top: solid #424040b4 1px;
}

.comment2 {
  width: 70%;
  height: 15%;
  /*border: #111 1px solid;*/
  position: absolute;
  left: 15%;
  top: 80%;
  font-size: 25px;
}


.like2 {
  position: absolute;
  left: 15%;
  top: 21%;
  width: 18.7%;
  height: 40%;
  background: url("image/11223344color.png") repeat-x;
  background-size: 40px 40px;
  overflow: hidden;
  margin-top: 10px;
}


.star2_1,
.score2_1 {
  left: 0;
}

.star2_2,
.score2_2 {
  left: 40px;
}

.star2_3,
.score2_3 {
  left: 80px;
}

.star2_4,
.score2_4 {
  left: 120px;
}

.star2_5,
.score2_5 {
  left: 160px;
}

.like3 {
  position: absolute;
  left: 15%;
  top: 21%;
  width: 15.1%;
  height: 40%;
  background: url("image/11223344color.png") repeat-x;
  background-size: 40px 40px;
  overflow: hidden;
  margin-top: 10px;
}


.pedalproducts {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 10%;
  /*border: #111 1px solid;*/
  top: 16%;
}

.pedalproductstitle {
  font-size: 60px;
  font-weight: bold;
  font-family: 微軟正黑體;
  text-align: center;
}


.container3 {
  position: absolute;
  height: 100%;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;

}

.container3:hover .overlay2 {
  opacity: 1;
}



/*.productcompare {
  position: absolute;
  top: 70%;
  z-index: 100;
  left: 70%;
  background-color: white;
  border: 1px solid blue;
  font-size: 30px;
}*/


.productp-1 {
  position: absolute;
  width: 20%;
  height: 46%;
  top: 14%;
  left: 10%;
  font-weight: bold;
  font-size: 30px;

}

.productp-2 {
  position: absolute;
  width: 20%;
  height: 46%;
  top: 14%;
  left: 40%;
  font-weight: bold;
  font-size: 30px;

}

.productp-3 {
  position: absolute;
  width: 20%;
  height: 46%;
  top: 14%;
  left: 70%;
  font-weight: bold;
  font-size: 30px;

}

.productp-4 {
  position: absolute;
  width: 20%;
  height: 46%;
  top: 64%;
  left: 10%;
  font-weight: bold;
  font-size: 30px;
}

.productp-5 {
  position: absolute;
  width: 20%;
  height: 46%;
  top: 64%;
  left: 40%;
  font-weight: bold;
  font-size: 30px;
}


/*產品比較*/
.comparison {
  width: 80%;
  height: 120%;
  position: absolute;
  left: 10%;
  /*border: #111 1px solid;*/
  top: 16%;
}

.comparisontitle {
  font-size: 60px;
  font-weight: bold;
  font-family: 微軟正黑體;
  text-align: center;
}

.comproduct1 {
  width: 25%;
  height: 35%;
  position: relative;
  left: 20%;
  top: 5%;
  /*border: black 1px solid;*/
}

.comproduct2 {
  width: 25%;
  height: 35%;
  position: relative;
  left: 55%;
  top: -30.2%;
  /*border: black 1px solid;*/
}


.comproductintro1 {
  width: 25%;
  height: 50%;
  font-size: 30px;
  position: relative;
  top: -31%;
  left: 20%;
  /*border: 1px solid black;*/
}

.comproductintro2 {
  width: 25%;
  height: 50%;
  font-size: 30px;
  position: relative;
  top: -81%;
  left: 55%;
  /*border: 1px solid black;*/
}


.heart {
  position: absolute;
  top: 190%;
}

.comp1addbutton {
  border: 0;
  background-color: #e28e79a2;
  color: rgb(15, 15, 15);
  border-radius: 10px;
  cursor: pointer;
  padding: 3px 20px 3px 20px;
  position: relative;
  left: 50%;
  top: -8%;
}


.comp1addbutton:hover {
  color: rgb(15, 15, 15);
  background-color: #e4603f;

}


[id='toggle-heart2'] {
  position: absolute;
  left: -100vw;
}

[id='toggle-heart2']:checked+label {
  color: #e2264d;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

[id='toggle-heart2']:checked+label:before,
[id='toggle-heart2']:checked+label:after {
  animation: inherit;
  animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1);
}

[id='toggle-heart2']:checked+label:before {
  will-change: transform, border-width, border-color;
  animation-name: bubble;
}

[for='toggle-heart2'] {
  align-self: center;
  position: relative;
  color: #aab8c2;
  font-size: 40px;
  cursor: pointer;
}

[for='toggle-heart2']:before,
[for='toggle-heart2']:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
}

[for='toggle-heart2']:before {
  box-sizing: border-box;
  margin: -2.25rem;
  border: solid 2.25rem #e2264d;
  width: 4.5rem;
  height: 4.5rem;
  transform: scale(0);
}

.footer {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 180%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerallproduct {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 250%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}


.footeraboutus {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 220%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerflipcover {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 110%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerfniss {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 200%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerfniss2 {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 200%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerhallbar {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 200%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerinformation {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerknodd {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 200%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footermember {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footermjosa {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 200%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footeropening {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 150%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerorder {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 150%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerpedal {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 150%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerpluggis {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 200%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footerproductcomparison {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 150%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}

.footersnapp {
  height: 16%;
  /*設定footer本身高度*/
  background-color: rgba(192, 180, 180, 0.959);
  position: absolute;
  top: 200%;
  width: 100%;
  text-align: center;
  font-size: 20px;

}






/*搜尋*/

/** {
  box-sizing: border-box;
}
*/
.wrap {
  width: 200px;
  height: auto;
  position: absolute;
  right: 4%;
  margin-top: -25px;
  padding-right: 3px;
}

.search {
  position: relative;
  width: 100%;
  float: left;
}

.search-bar {
  width: 80%;
  height: 38px;
  font-size: 20px;
  border: 3px solid #474646c5;
  background-color: #f1f1f1;
}

.search-btn {
  width: 50px;
  height: 46px;
  background-color: #474646;
  color: #efe9e7;
  outline: none;
  border: 2px solid #474646c5;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}